.homelist {
    margin-bottom: 1.9rem;
}

.homelist__title {
    font-size: 1.3rem;
    margin-left: 1.9rem;
}

.homelist__listarea {
    padding-left: 1.9rem;
    overflow-x: hidden;
}

.homelist__list {
    transition: all ease .7s;
}

.homelist__item {
    display: inline-block;
    margin: 0;
    width: 150px;
}

.homelist__item img {
    cursor: pointer;
    transform: scale(0.9);
    transition: all ease .3s;
    width: 100%;
}

.homelist__item img:hover {
    transform: scale(1);
}

.homelist__left,
.homelist__right {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: flex;
    height: 14.0625rem;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: all ease .5s;
    width: 2.5rem;
    z-index: 99;
}

.homelist__left {
    left: 0;
}

.homelist__right {
    right: 0;
}

.homelist:hover .homelist__left,
.homelist:hover .homelist__right {
    opacity: 1;
}

@media(max-width:760px) {
    .homelist__left,
    .homelist__right {
        opacity: 1;
    }
}